<%- include('./../partials/header') -%>

<div class="my-5">
    <h1 class="text-center">Edit your comment</h1>
</div>

<div class="container askquestion">

    <div class="row">
        <div class="col-md-6 col-10 mx-auto">
            <form action="/discussions/<%= discussion_id%>/comments/<%=comment._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="currQuestion" class="form-label"><strong>Edited comment</strong></label>
                    <textarea class="form-control" name="comment[text]" id="currQuestion" rows="3" required><%=comment.text%></textarea>
                </div>
                <div class="mb-3">
                    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                    <button type="submit" class="btn btn-primary mr-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen" viewBox="0 0 16 16">
                            <path
                                d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg> Save
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

<%- include('./../partials/footer') -%>